<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/styles.css">
    <title>Aula 2</title>
</head>
<body>
    <div>
        <nav>
            <a href="{{url_for('pagina_inicial')}}">Inicio</a>
            <a href="{{url_for('contato')}}">Contato</a>
        </nav>
    </div>
    {%block conteudo%}
    {%endblock%}
    
        <footer>
            <p>&copy; 2024 Fulano de tal. Todos os direitos reservados.</p>
        </footer>
</body>
</html>